header {
  width: 100%;
  padding: 2%;
  background-color: lightgray;
  color: black;
  font-size: 3vw;
  font-weight: 800;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
}

#body {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.base {
  display: flex;
  width: calc(100%/3*2);
  background-color: lightyellow;
  color: black;
  font-size: 3vw;
  font-weight: 800;
  flex-wrap: wrap;
  text-align: center; 
}

p {
  width: 100%;
}

.small-section {
  flex-grow: 2;
  margin: 1% 2%;
  background-color: rgb(243, 243, 134);
  font-size: 3vw;
  font-weight: 800;
  align-content: center;
  padding: 2% 0%;
}

.big-section {
  flex-grow: 2;
  margin: 2%;
  width: 95%;
  background-color: rgb(243, 243, 134);
  font-size: 3vw;
  font-weight: 800;
  align-content: center;
  padding: 2% 0%;
}

.sidebar {
  width: calc(100%/3); 
  background-color: rgb(182, 218, 149);
  color: black;
  font-size: 3vw;
  font-weight: 800;
  justify-content: center;
  text-align: center; 
  padding-top: 3%;
}

.footer {
  display: flex;
  box-sizing: border-box;
  background-color: lightgray;
  flex-grow: 2;
  justify-content: space-around;
}

.section {
  margin: 2%;
  width: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  font-size: 2vw;
  font-weight: 800;
  text-align: center; 
}